/
  \=================================
  Contact
  \=================================
%section#contact-wrapper
  .container
    .section-icon
      %span.icon-envelope-alt
    .section-heading Contact Ortax
    .section-subheading Want to work with us or just want to say hello? Call us at (323) 205-6876.
    %form
      .row
        .col-lg-3.col-md-3.col-sm-3
          %input{placeholder: "Name", type: "text"}/
        .col-lg-3.col-md-3.col-sm-3
          %input{placeholder: "Email", type: "text"}/
        .col-lg-3.col-md-3.col-sm-3
          %textarea{placeholder: "Message"}
        .col-lg-3.col-md-3.col-sm-3
          %button{type: "submit"}
            %span.send-icons
              %span.send-text Throw it!