/
  \=================================
  Latest feeds
  \=================================
%section#feeds-wrapper
  .container
    .row
      .col-lg-4.col-md-4.col-sm-4.makeitfade
        .head About Ortax
        .about-short
          %p Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
      .col-lg-4.col-md-4.col-sm-4.makeitfade
        .head Ortax News
        .latest-blog
          .latest-post
            .post-date
              .date{"data-hover" => "24"} 24
              .month July
            .detail
              %a.title{href: "#"} Praesent dapibus, neque id cursus
              %p Faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
          .latest-post
            .post-date
              .date{"data-hover" => "17"} 17
              .month May
            .detail
              %a.title{href: "#"} Praesent dapibus, neque id cursus
              %p Faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
      .col-lg-4.col-md-4.col-sm-4.makeitfade
        .head Photostream @ortax
        .flicker-holder
          %ul.flicker