/
  \=================================
  Footer
  \=================================
%footer#footer-wrapper
  .container
    .goto
      %ul
        %li
          %a{href: "showcase.html"} Showcase
        %li
          %a{href: "about.html"} About
        %li
          %a{href: "team.html"} team
        %li
          %a{href: "elements.html"} Elements
        %li
          %a{href: "contact.html"} CONTACT
        %li
          %a{href: "blog.html"} Blog
    .copyright
      © Copyrights 2013, Ortax. All rights reserved. Terms & Services | Privacy
    .social-links
      %ul.social
        %li.facebook
          %a{href: "#"} Facebook
        %li.twitter
          %a{href: "#"} Twitter
        %li.youtube
          %a{href: "#"} youtube
        %li.flicker-social
          %a{href: "#"} flicker-social
        %li.viemo
          %a{href: "#"} viemo
        %li.linkedin
          %a{href: "#"} linkedin
        %li.behance
          %a{href: "#"} behance
        %li.s6
          %a{href: "#"} s6