%header.navbar-fixed-top
  .container
    .header-inner.clearfix
      / HEADER BRANDING : begin
      .branding
        = link_to "Apartable", restaurantes_path
      / HEADER BRANDING : end
      / NAV TOGGLE : begin
      %button.nav-toggle
        %i.icon-reorder
      / NAV TOGGLE : end
      / MAIN NAV : begin
      
      %nav.main
        
         
/ MAIN NAV : end