/
  \=================================
  promo-line
  \=================================
%section#promo-line.parallax
  .container
    .row
      .col-lg-10.col-md-10.col-sm-10.col-lg-offset-1.col-md-offset-1.col-md-offset-1
        %h4 Ortax help companies succeed by connecting with audiences and building handcrafted websites to deliver extraordinary results
        .link
          %a{href: "#"} Only on Themeforest