/
  \=========================================
  Service
  \========================================
%section#service-wrappper
  .container
    .row
      .col-lg-3.col-md-3.col-sm-3
        .service
          .service-visual.service-hover-a.service-hover
            %span.service-icon.icon-desktop
          .head
            Flat Design
          %p That is why our micro-campaigns and solutions are individually crafted for each of our clients.
      / service column
      .col-lg-3.col-md-3.col-sm-3
        .service
          .service-visual.service-hover-a.service-hover
            %span.service-icon.icon-tablet
          .head
            USER EXPERIENCE
          %p We understand your story is unique. That is why our micro-campaigns and solutions are
      / service column
      .col-lg-3.col-md-3.col-sm-3
        .service
          .service-visual.service-hover-a.service-hover
            %span.service-icon.icon-file-alt
          .head
            Unlimted Colors
          %p Converting pixel-perfect designs into functional web apps is an art. Coding
      / service column
      .col-lg-3.col-md-3.col-sm-3
        .service
          .service-visual.service-hover-a.service-hover
            %span.service-icon.icon-folder-open-alt
          .head
            Easy to Use
          %p Brick and mortar selling is only half the battle. We understand the difference and offer user-friendly
      / service column