/
  \=================================
  Testimonial
  \=================================
%section#testimonial-wrapper
  .container
    .section-heading What Our Client Say
    .section-subheading We love hearing from our clients
    .testi-holder
      #testimonial-carousel.flexslider
        %ul.slides
          %li
            .row
              .col-lg-10.col-md-10.col-sm-10.col-lg-offset-1.col-md-offset-1.col-md-offset-1
                %article.testimonial
                  .quots
                    %span.icon-quote-left
                  %p As a creative, ortax excels in translating messaging into relevant visual branding for web, social and print. No matter the client, ortax designs have always told effective stories.
                  %a{href: "#"} - Fernando Delegado
                  .quots
                    %span.icon-quote-right
                / \\testimonial
          %li
            .row
              .col-lg-10.col-md-10.col-sm-10.col-lg-offset-1.col-md-offset-1.col-md-offset-1
                %article.testimonial
                  .quots
                    %span.icon-quote-left
                  %p As a creative, ortax excels in translating messaging into relevant visual branding for web, social and print. No matter the client, ortax designs have always told effective stories.
                  %a{href: "#"} - Fernando Delegado
                  .quots
                    %span.icon-quote-right
                / \\testimonial
          %li
            .row
              .col-lg-10.col-md-10.col-sm-10.col-lg-offset-1.col-md-offset-1.col-md-offset-1
                %article.testimonial
                  .quots
                    %span.icon-quote-left
                  %p As a creative, ortax excels in translating messaging into relevant visual branding for web, social and print. No matter the client, ortax designs have always told effective stories.
                  %a{href: "#"} - Fernando Delegado
                  .quots
                    %span.icon-quote-right
                / \\testimonial